@import '~antd/dist/antd.css';

.page {
  text-align: left;
  padding: 0 5px;

  .list-item-detail {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  button {
    margin-right: 5px;
  }

  .row-error {
    color: #d23a3a;
  }

  .res-table {
    white-space: pre-wrap;
    padding: 0 5px;
  }
}
